@model Esercitazione.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <div class="card border-0 shadow" style="background-color: #fff3cd;">
        <div class="card-body">
            <h1 class="card-title">Aggiungi un prodotto al menù</h1>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Create">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group mb-2">
                            <label asp-for="Name" class="control-label">Nome</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-2">
                            <label asp-for="Price" class="control-label">Prezzo</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-2">
                            <label asp-for="Photo" class="control-label">Foto</label>
                            <input asp-for="Photo" class="form-control" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-2">
                            <label asp-for="DeliveryTimeInMinutes" class="control-label">Tempo di consegna</label>
                            <input asp-for="DeliveryTimeInMinutes" class="form-control" />
                            <span asp-validation-for="DeliveryTimeInMinutes" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-2">
                            <label asp-for="Ingredients" class="control-label">Ingredienti</label>
                            <select asp-for="Ingredients" asp-items="ViewBag.Ingredients" class="form-control" multiple="multiple" name="Ingredients"></select>
                            <span asp-validation-for="Ingredients" class="text-danger"></span>
                        </div>

                        <br />

                        <div class="form-group mt-2">
                            <input type="submit" value="Crea" class="btn btn-warning" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="mt-3">
                <a asp-action="Index" class="btn btn-secondary">Torna alla lista</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
