@model Esercitazione.Models.Product

@{
    ViewData["Title"] = "Modifica Prodotto";

}

<div class="container mt-4">
    <h1>Modifica Prodotto</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DeliveryTimeInMinutes" class="control-label"></label>
                    <input asp-for="DeliveryTimeInMinutes" class="form-control" />
                    <span asp-validation-for="DeliveryTimeInMinutes" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ingredients" class="control-label">Ingredienti</label>
                    <select asp-for="Ingredients" asp-items="ViewBag.IngredientsList" class="form-control" multiple="multiple"></select>
                    <span asp-validation-for="Ingredients" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Photo" class="control-label">Carica Foto</label>
                    <input type="Photo" asp-for="Photo" class="form-control" id="photoUpload" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salva</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary">Torna alla lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
