@{
    ViewData["Title"] = "Welcome";
}

<div class="container full-height">
    <div class="content">
        <h1>Panificio In Forno!</h1>
        <h4>Dove ogni giorno è una festa di sapori autentici</h4>
        <div class="mt-4">
            <a href="@Url.Action("Register", "Home")" class="btn btn-outline-dark">Registrati</a>
            <a href="@Url.Action("Login", "Home")" class="btn btn-outline-warning">Accedi</a>
        </div>
    </div>
</div>